In [3]:
import pandas as pd
pd.__version__

'0.25.1'

In [4]:
loan_file_path = 'C:/Users/guicn/Documents/FEUP/5/1s/ECAC/loan_train.csv'
loan_data = pd.read_csv(loan_file_path, sep=";")
loan_data.describe()

,loan_id,account_id,date,amount,duration,payments,status
count,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000
mean,6205.658537,5982.085366,949989.125000,145308.621951,35.853659,4150.932927,0.719512
std,667.985675,3213.262492,9495.504646,105247.318098,16.734752,2193.620989,0.695541
min,4959.000000,2.000000,930705.000000,4980.000000,12.000000,319.000000,-1.000000
25%,5604.250000,3079.000000,940809.250000,68328.000000,24.000000,2368.750000,1.000000
50%,6227.500000,6032.000000,950565.500000,114804.000000,36.000000,3878.500000,1.000000
75%,6737.250000,8564.500000,960525.250000,198600.000000,48.000000,5907.750000,1.000000
max,7308.000000,11362.000000,961227.000000,538500.000000,60.000000,9689.000000,1.000000

In [6]:
y = loan_data.status

In [7]:
loan_features = ['amount']

In [8]:
X = loan_data[loan_features]

In [9]:
X.describe()

              amount
count     328.000000
mean   145308.621951
std    105247.318098
min      4980.000000
25%     68328.000000
50%    114804.000000
75%    198600.000000
max    538500.000000

In [10]:
X.head()

   amount
0   96396
1  165960
2  127080
3  105804
4  274740

In [11]:
from sklearn.tree import DecisionTreeRegressor

In [12]:
loan_model = DecisionTreeRegressor(random_state=1)

In [13]:
loan_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [14]:
X.head()

   amount
0   96396
1  165960
2  127080
3  105804
4  274740

In [15]:
print(loan_data.head())
loan_model.predict(X.head())

   loan_id  account_id    date  amount  duration  payments  status
0     5314        1787  930705   96396        12      8033      -1
1     5316        1801  930711  165960        36      4610       1
2     6863        9188  930728  127080        60      2118       1
3     5325        1843  930803  105804        36      2939       1
4     7240       11013  930906  274740        60      4579       1

array([-1.,  1.,  1.,  1.,  1.])

In [16]:
under94 = loan_data[loan_data['date']<940000]
y = loan_data[loan_data['date']<940000].status
y.describe()

count    20.000000
mean      0.600000
std       0.820783
min      -1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       1.000000
Name: status, dtype: float64

In [17]:
under95 = loan_data[(loan_data['date']>= 940000) & (loan_data['date']<950000)]

In [18]:
under94.head()

   loan_id  account_id    date  amount  duration  payments  status
0     5314        1787  930705   96396        12      8033      -1
1     5316        1801  930711  165960        36      4610       1
2     6863        9188  930728  127080        60      2118       1
3     5325        1843  930803  105804        36      2939       1
4     7240       11013  930906  274740        60      4579       1

In [19]:
under95.head()

    loan_id  account_id    date  amount  duration  payments  status
20     4959           2  940105   80952        24      3373       1
21     6499        7401  940105   80952        24      3373       1
22     5479        2486  940110   24516        12      2043       1
23     5170        1071  940120  253200        60      4220       1
24     6721        8475  940121   21072        24       878       1

In [20]:
under96 = loan_data[(loan_data['date']>= 950000) & (loan_data['date']<960000)]

In [21]:
under97 = loan_data[(loan_data['date']>= 960000) & (loan_data['date']<970000)]

In [22]:
X = under94[loan_features]

In [23]:
loan_model = DecisionTreeRegressor(random_state=1)

In [24]:
loan_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [25]:
print(loan_model.predict(under95[loan_features]))
print(loan_data[(loan_data['date']>= 940000) & (loan_data['date']<950000)].status)

[ 1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1. -1.  1.  1.  1.  1.  1. -1.
  1.  1. -1. -1.  1. -1.  1.  1.  1. -1. -1. -1.  1.  1.  1. -1.  1.  1.
  1.  1.  1.  1. -1.  1. -1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.
 -1.  1. -1.  1. -1.  1.  1. -1.  1. -1.  1.  1.  1.  1.  1.  1. -1.  1.
  1.  1. -1.  1. -1.  1.  1. -1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.
 -1.  1. -1.  1. -1. -1.  1. -1. -1.  1.  1.]
20     1
21     1
22     1
23     1
24     1
      ..
116    1
117    1
118    1
119    1
120    1
Name: status, Length: 101, dtype: int64

In [26]:
half_loan_train = loan_data[0:int(len(loan_data)/2)]

In [27]:
other_half = loan_data[len(half_loan_train):len(loan_data)]

In [28]:
print(f'{len(half_loan_train)} {len(other_half)} {len(loan_data)}')

164 164 328

In [29]:
X = half_loan_train[loan_features]

In [31]:
y = loan_data[0:int(len(loan_data)/2)].status

In [32]:
loan_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [33]:
print(f'{loan_model.predict(other_half[loan_features])}\n\n{loan_data[len(half_loan_train):len(loan_data)].status}')

[ 1.  1.  1.  1. -1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
 -1.  1. -1.  1. -1. -1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1. -1.
  1. -1.  1.  1.  1.  1. -1. -1.  1.  1. -1. -1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1. -1.  1. -1.  1.
  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1. -1.  1. -1.  1. -1. -1.  1.  1.  1.  1. -1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.
 -1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.
  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.
  1.  1.]

164    1
165    1
166    1
167    1
168    1
      ..
323    1
324   -1
325    1
326    1
327    1
Name: status, Length: 164, dtype: int64

In [34]:
def compareResults(array1, array2):
    diff = 0
    for i, res in enumerate(array1):
        if res != array2[i]:
            diff += 1
    return (diff/len(array1))*100

In [36]:
compareResults(loan_data[len(half_loan_train):len(loan_data)].status,loan_model.predict(other_half[loan_features]))

23.78048780487805

In [48]:
def tryModelFeatures(features):
    X = half_loan_train[features]
    y = loan_data[0:int(len(loan_data)/2)].status
    loan_model.fit(X,y)
    predictions = loan_model.predict(other_half[features])
    return compareResults(loan_data[len(half_loan_train):len(loan_data)].status,predictions)

In [49]:
loan_data.describe()

,loan_id,account_id,date,amount,duration,payments,status
count,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000,328.000000
mean,6205.658537,5982.085366,949989.125000,145308.621951,35.853659,4150.932927,0.719512
std,667.985675,3213.262492,9495.504646,105247.318098,16.734752,2193.620989,0.695541
min,4959.000000,2.000000,930705.000000,4980.000000,12.000000,319.000000,-1.000000
25%,5604.250000,3079.000000,940809.250000,68328.000000,24.000000,2368.750000,1.000000
50%,6227.500000,6032.000000,950565.500000,114804.000000,36.000000,3878.500000,1.000000
75%,6737.250000,8564.500000,960525.250000,198600.000000,48.000000,5907.750000,1.000000
max,7308.000000,11362.000000,961227.000000,538500.000000,60.000000,9689.000000,1.000000

In [50]:
tryModelFeatures(['amount'])

23.78048780487805

In [51]:
tryModelFeatures(['amount','date'])

18.902439024390244

In [52]:
tryModelFeatures(['amount','date','duration'])

17.682926829268293

In [53]:
tryModelFeatures(['amount','duration'])

23.170731707317074

In [54]:
tryModelFeatures(['duration','date'])

10.975609756097562

In [55]:
tryModelFeatures(['duration'])

100.0

In [57]:
tryModelFeatures(['date'])

10.975609756097562

In [58]:
tryModelFeatures(['payments','date'])

12.804878048780488

In [59]:
tryModelFeatures(['payments'])

20.73170731707317

In [60]:
tryModelFeatures(['duration','date'])

10.975609756097562

In [62]:
test_data_location = loan_file_path = 'C:/Users/guicn/Documents/FEUP/5/1s/ECAC/loan_test.csv'
loan_test_data = pd.read_csv(test_data_location, sep=";")

In [64]:
loan_features = ['duration','date']
X = loan_data[loan_features]
y = loan_data.status
loan_model.fit(X,y)
predictions = loan_model.predict(loan_test_data[loan_features])

In [66]:
print(f'{predictions}')

[-1.  1.  1. -1.  1. -1.  1.  1. -1.  1. -1.  1. -1.  1.  1.  1. -1. -1.
  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1. -1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1. -1.  1.  1. -1.  1. -1.  1.
  1.  1.  1. -1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1. -1. -1.  1.  1.
  1.  1. -1. -1.  1. -1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1. -1.  1.
  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1. -1. -1. -1.  1. -1.  1.  1.  1.  1.  1. -1.  1.  1.  1. -1.  1.  1.
  1.  1.  1.  1. -1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1. -1.  1.  1. -1. -1.  1.  1.  1.  1.  1.  1.  1.
  1. -1.  1.  1. -1.  1.  1.  1.  1. -1. -1.  1.  1.  1.  1.  1.  1.  1.
  1.  1.  1.  1.  1.  1. -1.  1. -1. -1.  1.  1.  1.  1.  1. -1.  1. -1.
  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1. -1.  1.  1. -1.  1.  1.  1.
  1.  1.  1.  1.  1. -1.  1. -1.  1.  1.  1.  1.  1. -1.  1. -1. -1.  1.
 -1.  1. -1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.
 -1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1. -1.  1. -1.
  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.  1.  1. -1. -1.  1.  1.
  1.  1. -1.  1.  1. -1.  1.  1. -1.  1.  1. -1.  1.  1. -1.  1. -1. -1.
 -1.  1.  1.  1.  1.  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.  1.
 -1. -1.  1.  1.  1.  1.  1. -1.  1.  1.  1. -1.  1. -1.  1.  1.  1.  1.
  1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  1. -1.]